@font-face {
    font-family: 'avenir-black'; 
    src: url("./../fonts/avenir_ff/AvenirBlack.ttf") format("truetype");
}
@font-face {
    font-family: 'avenir-book'; 
    src: url("./../fonts/avenir_ff/AvenirBook.ttf") format("truetype");
}
@font-face {
    font-family: 'avenir-heavy'; 
    src: url("./../fonts/avenir_ff/AvenirHeavy.ttf") format("truetype");
}
@font-face {
    font-family: 'avenir-light'; 
    src: url("./../fonts/avenir_ff/AvenirLight.ttf") format("truetype");
}
@font-face {
    font-family: 'avenir-medium'; 
    src: url("./../fonts/avenir_ff/AvenirMedium.ttf") format("truetype");
}
@font-face {
    font-family: 'avenir-regular'; 
    src: url("./../fonts/avenir_ff/AvenirRegular.ttf") format("truetype");
}
@font-face {
    font-family: 'avenir-roman'; 
    src: url("./../fonts/avenir_ff/AvenirRoman.ttf") format("truetype");
}
@font-face {
    font-family: 'avenir-black'; 
    src: url("./../fonts/avenir_ff/AvenirBlack.ttf") format("truetype");
}
@font-face {
    font-family: 'unbounded-black'; 
    src: url("./../fonts/unbounded/TTF/Unbounded-Black.ttf") format("truetype");
}
@font-face {
    font-family: 'unbounded-blond'; 
    src: url("./../fonts/unbounded/TTF/Unbounded-Blond.ttf") format("truetype");
}
@font-face {
    font-family: 'unbounded-bold'; 
    src: url("./../fonts/unbounded/TTF/Unbounded-Bold.ttf") format("truetype");
}
@font-face {
    font-family: 'unbounded-light'; 
    src: url("./../fonts/unbounded/TTF/Unbounded-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'unbounded-medium'; 
    src: url("./../fonts/unbounded/TTF/Unbounded-Medium.ttf") format("truetype");
}
@font-face {
    font-family: 'unbounded-regular'; 
    src: url("./../fonts/unbounded/TTF/Unbounded-Regular.ttf") format("truetype");
}